<div class="row">
  <div class="col-auto">
    <img src="https://picsum.photos/id/21/200/300" alt="" class="img-fluid" />
  </div>
  <div class="col-auto">
    <img src="https://picsum.photos/id/337/200/300" alt="" class="img-fluid" />
  </div>
  <div class="col-auto">
    <img src="https://picsum.photos/id/257/200/300" alt="" class="img-fluid" />
  </div>
  <div class="col-auto">
    <img src="https://picsum.photos/id/137/200/300" alt="" class="img-fluid" />
  </div>
  <div class="col-auto">
    <img src="https://picsum.photos/id/239/200/300" alt="" class="img-fluid" />
  </div>
  <div class="col-auto">
    <img src="https://picsum.photos/id/217/200/300" alt="" class="img-fluid" />
  </div>
</div>
