<header>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 routerLink="/">
          <img src="../assets/img/ngTooltip.png" alt="Angular Tooltip Logo" />
        </h1>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <hr />
  <div class="row justify-content-center">
    <div class="col-auto">
      <button
        routerLink="/"
        appTooltip
        tooltipText="Display Information"
        class="btn btn-primary"
      >
        Information
      </button>
    </div>
    <div class="col-auto">
      <button
        routerLink="/gallery"
        appTooltip
        tooltipText="Display Gallery"
        class="btn btn-primary"
      >
        Gallery
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 main-view"><router-outlet></router-outlet></div>
  </div>
</div>
