/* You can add global styles to this file, and also import other style files */
@import "./app/shared/styles/variables.scss";
body {
  background: $background;
  color: $text;
  padding: 40px 0;
  min-height: 120vh;
}
hr {
    border-color: #fff7;
}